.formRow {
    margin-bottom: 10px;
}

.input {
    background-color: #fcfcfc;
    border: solid 1px #000000;
    border-radius: 4px;
    color: #555f77;
    font-family: inherit;
    font-size: 14px;
    padding: 5px 15px;
    outline: none;
    width: 95%;
    -webkit-transition: 350ms box-shadow;
    -moz-transition: 350ms box-shadow;
    -ms-transition: 350ms box-shadow;
    -o-transition: 350ms box-shadow;
    transition: 350ms box-shadow;
}

.formRow textarea {
    height: 50px;
    padding: 15px;
}