.auctionItem {
    padding: 10px 0;
}
.metaData {
    display: block;
    position: relative;
}

.auctionItem:hover button {
    visibility: visible;
    opacity: 1;
}

.auctionTitle {
    display: flex;
    position: relative;
    margin: 0;
    padding: 7px 30px 7px 0;
    word-break: break-word;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
}

.auctionSubtitle {
    margin: 0;
    padding-right: 30px;
    font-size: 14px;
    word-break: break-word;
    line-height: 19px;
}

.auctionGeo {
    margin: 0;
    color: #828282;
}