.auctionItem {
    padding: 10px 0;
}
.metaData {
    display: block;
    position: relative;
}

.toggleWatchList {
    background: url(../../images/watchlist.png) no-repeat;
    background-size: contain;
    border: none;
    margin: 0;
    position: absolute;
    right: 1px;
    top: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .12s ease-in;
    padding: 0;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.auctionItem:hover .toggleWatchList {
    visibility: visible;
    opacity: 1;
}

.watched {
    background: url(../../images/watched.png);
    border: none;
    visibility: visible;
    opacity: 1;
}

.auctionTitle {
    display: flex;
    position: relative;
    margin: 0;
    padding: 7px 30px 7px 0;
    word-break: break-word;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5rem;
}

.auctionSubtitle {
    margin: 0;
    padding-right: 30px;
    font-size: 14px;
    word-break: break-word;
    line-height: 19px;
}

.auctionGeo {
    margin: 0;
    color: #828282;
}