.hero {
    display: block;
    position: relative;
    margin-bottom: 16px;
}

.image {
    display: contents;
    position: relative;
    height: auto;
    width: 100%;
}
.image img {
    position: inherit;
    display: block;
    width: inherit;
    height: auto;
    min-height: 150px;
}