.pastAuctions {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.pastAuctions ul {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}