.pastAuctions {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
}

.pastAuctions ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media screen and (max-width: 1366px) {
    .pastAuctions ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .pastAuctions ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 399px) {
    .pastAuctions ul {
        width: 100%;
        grid-template-columns: 1fr;
    }
}