.watchedCollection {
    padding: 40px 0;
    border-bottom: 1px solid #ebebeb;
}

.watchedCollection h2 {
    padding: 0;
    margin: 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    white-space: nowrap;
}

.results ul {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.noResults {
    padding-top: 8px;
    color: #828282;
}

@media screen and (max-width: 1366px) {
    .results ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .results ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 399px) {
    .results ul {
        width: 100%;
        grid-template-columns: 1fr;
    }
}