.actions {
    display: flex;
    margin-bottom: 15px;
}

.actions button {
    cursor: pointer;
}

.reply {
    padding: 2px 0 3px;
    margin-left: 16px;
    font-size: 14px;
    line-height: 17px;
    color: #adadad;
    display: inline-flex;
    align-items: center;
    transition: none;
    background: none;
    border: none;
}

.reply:after {
    margin-left: 6px;
    font-family: FontAwesome;
    content: "\f122";
    display: inline-block;
    width: 14px;
    height: 14px;
}