.editAccountModal {

}

.modalHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    padding: 30px 24px 0;
    border-bottom: 0;
    margin-bottom: 34px;
    min-height: auto;
}

.modalHeader h5 {
    margin: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.modalHeader .close {
    pointer-events: auto;
    font-family: inherit;
    text-transform: none;
    font-size: 2rem;
    font-weight: 500;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    line-height: 26px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.modalBody {
    padding: 30px 24px 0;
}