.form fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    align-items: center;
    justify-items: stretch;
}
.warning {
    color: red;
    padding: 0;
    margin: 0;
    font-size: 13px;
}