.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 11px 5px #c1c1c154;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 160px;
}

.logoContainer a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 20px;
}

.logoContainer a span {
    text-decoration: none;
    font-size: 1.4rem;
    color: #4ad493;
    font-weight: 800;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    align-content: center;
    align-items: center;
}
.loginContainer {
    display: block;
    width: 20%;
    min-width: 200px;
    height: 100%;
    text-align: right;
}

.navBar {
    display: flex;
    padding-left: 0;
    height: 100%;
    margin: 0;
    list-style: none;
}

.navBar a {
    color: #3b3b3b;
    text-decoration: none;
}

.navBar li {
    padding: 0 8px;
    align-self: center;
    line-height: 40px;
}

.hasSubMenu:hover ul {
    display: block;
}

.hasSubMenu ul li {
    padding: 0 15px;
    margin: 0;
}

@media screen and (max-width: 768px){
    .navContainer {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .logo-container {
        width: 50px;
        padding: 0;
    }
    .navSellCar {
        display: none;
    }
}

@media screen and (max-width: 510px) {
    .navContainer form {
        display: none;
    }
}
