.auctionCollection {
    display: block;
    margin: 0 2%;
}

.heading {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}