.auctionHeaderBar {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    background: #00d41047;
    padding: 20px 0;
    border-radius: 10px;
}
.auctionHeaderBar span {
    font-weight: bold;
}