.galleryWrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.mainImage {
    margin-right: 4px;
    flex-grow: 1;
    max-height: inherit;
    min-width: 326px;
    cursor: pointer;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
    background: #fafafa;
    vertical-align: initial;
}

.mainImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
}

.images {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-wrap: wrap;
    position: relative;
    max-height: inherit;
    overflow: hidden;
    border-radius: 0 6px 6px 0;
    margin: 0;
    padding: 0;
}

.images div {
    position: relative;
    width: calc(50% - 2px);
    height: auto;
    cursor: pointer;
}

.images .all {
    width: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg,rgba(0,0,0,.7),rgba(0,0,0,.7));
    border-radius: 0 0 6px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}

.images div:nth-last-child(n+3) {
    margin-bottom: 4px;
}

.images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
}

.images div:nth-of-type(2n) {
    margin-left: 4px;
}

@media screen and (min-width: 769px) {
    .images {
        width: 30%;
    }
}