.commentBox {
    display: block;
    margin: 50px auto;
    padding: 0 50px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

.commentBox h3 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .commentBox {
        padding: 0 20px;
    }
}