.bidsHistoryContainer {
    display: block;
    margin: 50px auto;
    max-width: 680px;
    width: 100%;
}

.bidsHistoryContainer h4 {
    font-size: 20px;
    text-align: center;
}

.bidsHistoryContainer ul {
    list-style: none;
    text-align: left;
    padding: 0;
}
.bidsHistoryContainer p {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .bidsHistoryContainer {
        width: 90%;
        margin-top: 20px;
    }
}