.signInSignUp {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 30px 0;
}

@media screen and (max-width: 800px) {
    .signInSignUp {
        display: grid;
    }
}