.bidHistoryItem {
    padding: 10px 20px;
}

.price {
    background: #212529;
    border-radius: 5px;
    padding: 2px 7px;
    margin: 5px 0;
    color: #828282;
}

.bidHistoryItem span {
    color: white;
    font-weight: bold;
    padding: 0 0.3em;
}

.user {
    color: #4ad493;
    font-weight: bold;
    text-decoration: none;
    padding: 0 5px;
}