.timeLeft:before {
    font-family: FontAwesome;
    content: "\f017";
    font-weight: normal;
    display: inline-block;
    margin-right: 4px;
    font-size: 18px;
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 500px) {
    .timeLeft span {
        display: none;
    }
}